 
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}


.clsImgHumanIcon 
{
    width: 35%;
    height: 35%;
 }

 .clsLoginAdmin{

    background-color: #1359A1;
 }

 